* {
    font-family: Arial, Helvetica, sans-serif;
}

main, header {
    margin: 3% 15%;
}

header {
    margin-top: 230px;
    margin-bottom: 20%;
}

.huge-h1 {
    font-size: 700%;
    margin-bottom: 0px;
}

.color-me {
    color: rgb(86, 28, 139);
}

.intro {
    margin: 0;
}
.intro li {
    list-style-type: none;
    line-height: 80%;
}

.intro ul {
    padding-left: 50%;
    margin-top: 0px;
}

#mySkills {
    margin: 20% 0% 20% 0%;
}

#mySkills h1 {
    text-align: center;
}

.icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
}

.skill-html, .skill-js, .skill-css {
    display: grid;
    align-items: center;
    height: 200px;
    width: auto;
}

svg {
    max-height: 80px;
}

#projects h1 {
    text-align: right;
    padding-bottom: 14%;
}

.project-text {
    padding-left: 20%;
}

img {
    max-height: 300px;
    text-align: center;
    display: block;
    margin: auto;
    padding-left: 10%;
}

.each-project {
    padding-bottom: 18%;
}

#contact {
    margin: 0 0 15% 0;
}

footer {
    width: 100%;
    margin: 0;
}

footer p {
    color: white;
}

footer {
    background-color: rgba(85, 28, 139, 0.76);
    padding: 3% 0%;
    text-align: center;
}

.fa {
    padding: 6px;
    font-size: 30px;
    width: 20px;
    text-decoration: none;
    border-radius: 20%;
  }

  .fa-linkedin {
    background-color: white;
    color: #0077B5;
  }

  .fa-github {
    background-color: white;
    color: black;
  }