* {
    font-family: Arial, Helvetica, sans-serif;
}

main, header {
    margin: 3% 15%;
}

header {
    margin-top: 230px;
    margin-bottom: 20%;
}

.huge-h1 {
    font-size: 700%;
    margin-bottom: 0px;
}
.intro {
    margin: 0;
}
.intro li {
    list-style-type: none;
    line-height: 80%;
}

.intro ul {
    padding-left: 50%;
    margin-top: 0px;
}

#mySkills {
    margin: 20% 0% 20% 0%;
}

#mySkills h1 {
    text-align: center;
}

.icons {
    display: grid;
    grid: 30% / auto auto auto;
}

.skill-html, .skill-js, .skill-css {
    width: 30%
}

svg {
    max-height: 100px;
    padding: 50% 100%;
}

#projects h1 {
    text-align: right;
    padding-bottom: 10%;
}

.project-text {
    padding-left: 20%;
}

img {
    max-height: 300px;
    text-align: center;
    display: block;
    margin: auto;
    padding-left: 10%;
}

.each-project {
    padding-bottom: 8%;
}

#contact {
    margin: 15% 0 15% 0;
}

footer {
    width: 100%;
    margin: 0;
}

footer p {
    background-color: black;
    color: white;
    margin: 0;
    padding: 2% 10%;
}

