* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2% 3%;
}

header {
    margin-top: 220px;
}

.huge-h1 {
    font-size: 700%;
    margin-bottom: 0px;
}
.intro {
    margin: 0;
}
.intro li {
    list-style-type: none;
    line-height: 80%;
}

.intro ul {
    padding-left: 50%;
    margin-top: 0px;
}

.my-skills {
    margin: 20% 0% 20% 0%;
}

.my-skills h1 {
    text-align: center;
}

.icons {
    display: grid;
    grid: 30% / auto auto auto;
}

.skill-html, .skill-js, .skill-css {
    width: 30%
}

svg {
    max-height: 100px;
    padding: 50% 100%;
}

.projects h1 {
    text-align: right;
}

.project-text {
    padding-left: 20%;
}

img {
    max-height: 300px;
    text-align: center;
    padding-left: 10%;
}

.each-project {
    padding-bottom: 8%;
}