#mainMenu > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

#mainMenu {
    width: 50%;
    text-align: right;
    padding-left: 55%;
}

#mainMenu a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 130%;
}

