div > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

#mainMenu {
    width: 30%;
    text-align: right;
    padding-left: 70%;
}

#mainMenu a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 130%;
}